#Logs
node_modules
dist
*.local
.env
# src/uploads/**
src/uploads/lectura/contenido/*
src/uploads/lectura/portada/*
src/uploads/lectura/leeOral/*
src/uploads/lectura/explicaOral/*
src/uploads/usuario/foto/*
!src/uploads/lectura/contenido/.gitkeep
!src/uploads/lectura/portada/.gitkeep
!src/uploads/usuario/foto/.gitkeep
!src/uploads/lectura/leeOral/.gitkeep
!src/uploads/lectura/explicaOral/.gitkeep

# !.gitkeep