#Logs
node_modules
*.local
.env
# src/uploads/**
src/uploads/lectura/contenido/*
src/uploads/lectura/portada/*
src/uploads/lectura/leeOral/*
src/uploads/lectura/explicaOral/*
src/uploads/lectura/audio/*
src/uploads/lectura/archivo/*
src/uploads/usuario/foto/*
src/uploads/usuario/fraseOral/*
src/uploads/usuario/resumenOral/*
!src/uploads/lectura/contenido/.gitkeep
!src/uploads/lectura/portada/.gitkeep
!src/uploads/usuario/foto/.gitkeep
!src/uploads/lectura/leeOral/.gitkeep
!src/uploads/lectura/explicaOral/.gitkeep
!src/uploads/lectura/audio/.gitkeep
!src/uploads/lectura/archivo/.gitkeep
!src/uploads/usuario/fraseOral/.gitkeep
!src/uploads/usuario/resumenOral/.gitkeep

# !.gitkeep